*{
    background-color: white;
}
.banner{
    font-family: "Noto Serif", serif;
}
.banner-p{
    font-family: "Inter", sans-serif;
}
.deal-img-1{
    background-image: url(assets/deal-bloom.png) ;
  filter: brightness(0.8);
}

 .deal-img-2{
    background-image: url(assets/deal-ana.png);
    filter: brightness(0.8);
    
    
 }
 .deal-img-3{
    background-image: url(assets/deal-zabo.png);
    filter: brightness(0.8);
 }
.join{
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
  
}
.footer-img img{
    height: 36px;
    width: 36px;
}